{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}<title>{{title}}</title>{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}
<section class="container d-flex justify-content-around">
    <div class='card' style="width: 30rem">
        <div class="card-body">
                <h5 class="card-title text-uppercase text-center font-weight-bold">{{title}}</h5>
                <hr />
                {{messages.errors}}
            <form method='POST' action='' enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form | crispy }}
                <div class="form-check" id="show">
                <input class="form-check-input" type="checkbox" id="box">
                <label class="form-check-label" for="flexCheckDefault" >
                    Show password
                </label>
                </div>
                <br>
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6LfjS-QZAAAAAJQTJfFwXj1egTD7ZeqN0MpaWFnt"></div>
                <br>
                <input type='submit' class='qbtn btn btn-default btn-block' value='{{ title }}' />
                
            </form>
            {% url 'login' as login %}
            {% if request.get_full_path == login %}
            <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'pwdreset'%}" class="text-muted">Forgot Password?</a>
                <a href="{% url 'register'%}" >Register Account</a>

            </div>
            {% endif %}
        </div>


    </div>
</section>


<script type="text/javascript">
const visible=document.querySelector("#box");
const pass=document.querySelector("#pw");
visible.addEventListener('click',function(e){
    const type= pass.getAttribute("type") === "password" ? "text" : "password";
    pass.setAttribute("type",type);
    visible.querySelector("#box").checked;
});
</script>   

    


{# else #}
    {# include "index.html" #}
{% endif %}

{% endblock %}
