{% extends "base.html" %}
{% block title %}<title>Log-in</title>{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
    // window.location.href = '{% url "profile" %}';
</script>
{% endif %}




<div class="card container ">
    <div class="row no-gutter">
        <div class="col-md-12 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto card-body">

                            <div class="text-center pt-4">
                                <p class="h4 mb-2 font-weight-bold">Password changed</p>
                                <p class="mb-4">Your password has been successfully changed.</p>
                            </div>

            
                            <p class="text-center pt-4">
                                <a href="#">Help Center?</a>   <!-- contactus url -->
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}