<div class="container">
    <div class="row">
        {% if request.user.is_authenticated %}
        <div class="col-md-3 mb-2">
            <a href="{% url 'ask-question'  %}" class="abtn btn btn-block btn-lg " style="cursor:pointer; font-weight: bold;">Ask a Question?</a>
        </div>
        
        <div class="col-md-9">
            <form>
                <div class="input-group">
                    <input type="text" name="q" class="form-control form-control-lg" placeholder="Search" />
                    <div class="input-group-append">
                    <button class="sbtn btn btn-lg font-weight-bold" type="submit" id="button-addon2">Search</button>
                    </div>
                </div>
            </form>
        </div>
        {% else %}
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <input type="text" name="q" class="form-control form-control-lg" placeholder="Search" />
                    <div class="input-group-append">
                    <button class="sbtn btn btn-lg font-weight-bold" type="submit" id="button-addon2">Search</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>