@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
    padding: 0;
    margin: 0;
    background: #f9f1f1 !important;
    font-family: "Lato", sans-serif;
}

.header {
    background-color: #5a189a;
    height: 250px;
}

/*--- navigation bar ---*/

/* .navbar-nav {
    background-color: #5a189a;
} */

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    margin-right: 1em !important;
    margin-bottom: 5px;
}




/* .nav-link:hover {
    
    font-style: italic;
    color: #10002b;
} */


/* .navbar-collapse {
    justify-content: flex-end;
} */

/* .title {
    background-color: #5A189A;
    color: #fff;
}

.title h6 {
    font-weight: 700;
} */

.bttn {
    font-weight: bold;
    
    color: #fff;
    border: 0px solid;
}

.bttn:hover {
    background-color: #fff;
    color: #10002b;
}

/* search btn */
.sbtn {
    font-weight: 300;
    background-color:#7b2cbf;
    color: #fff;
}
/* dropdown */
.dlink:hover{
    background-color:#5a189a;
    color: #fff;

}

/* question button */
.card-body  a {
    color : #10002b;
    text-decoration: none
}
.qbtn {
    
    border: 1px solid #5a189a;
    color: #10002b;
}

.qbtn:hover{
    background-color:#5a189a;
    color: #fff;
}



/* .sec1 nav .breadcrumb {
    background-color: #7b2cbf;
} */

/* .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #fff;
    content: "/";
} */

/* .img-thumbnail {
    width: 150px;
    height: 150px;
}

.sec3 h6 {
    font-weight: bold;
} */

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
/* profile */

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #5a189a;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    color:#10002b;
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #5a189a;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #5a189a;
}
